body{
    font-family:var(--mainFont) ;
}
/* start header */
.header{
    
    padding:  56px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}
.header .bar{
    display: none;
}
.list a{
    color: #0D0E43;
}
.header .active{
    color: var(--primary);
}

.search form{
    border: 3px solid #E7E6EF;
        border-radius: 5px;
    
 
}
 
.search input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 10px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 12px;
}

@media screen and (max-width:1200px) {
    .list,.search {
        display: none;
    }

   .header .bar{
        display: block;
    }
}

/* end header */

/* start newslater */
.newslater{
    background-image: url('./img/public/Rectangle\ 102.png');
    padding: 175px 0;
    text-align: center;
}

.newslater h2{
    margin-bottom: 50px;
    color: #151875;
    font-size: 35px;
}
.shop-btn:hover{
    background-color: #0D0E43;
    transition-duration: 0.5s;
}


/* end newslater */


/* start clients */


.clients{
    padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px ;
    overflow-x:auto ;
}

.clients .logo {
    width: calc( (100% - 75px) /6);
}
.clients img{
    width: 150px;
    height: 125px;
}

@media screen and (max-width:900px) {
    .clients .logo{
        width: calc( (100% - 30px) / 3);
    }
}

/* end clients */

/* start footer */

.footer{
    background-color: #EEEFFB;
}
.footer .row{
    gap: 30px;
}
 .footer .left-side{
   align-items: flex-start; 
   gap: 35px;
   width: calc((100% - 30px) /2);
}
.footer form{
    display: flex;
}



.email-address form{
    border: 3px solid #E7E6EF;
        border-radius: 5px;
    
 
}
 
.email-address input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 10px 15px;
}
.email-address button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 10px;
}

.footer .right-side{
    width: calc((100% - 30px) /2);

}

.footer-item{
    gap: 45px;
    width: calc((100% - 70px) /3);
}

.footer .right-side .row{
    gap: 35px;
    align-items: flex-start;
}

.footer a,.address-info a{
    color: #8A8FB9;
}

@media screen and (max-width:992px) {
    .footer .right-side , .footer .left-side {
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .footer{
        text-align: center;
    }
    .footer-item {
        width: 100%;
    }
}

/* end footer */
