body{
    font-family:var(--mainFont) ;
}



/* start header */
.header{
    
    padding:  56px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}
.header .bar{
    display: none;
}
.list a{
    color: #0D0E43;
}
.header .active{
    color: var(--primary);
}

.search form{
    border: 3px solid #E7E6EF;
        border-radius: 5px;
    
 
}
 
.search input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 10px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 12px;
}

@media screen and (max-width:1200px) {
    .list,.search {
        display: none;
    }

   .header .bar{
        display: block;
    }
}

/* end header */

/* start hero */
.hero{
    background-color: #F2F0FF;
    padding: 50px 0;

}
.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 60%;
}
.hero-content .hero-lamp{
    position: relative;
    bottom: 50px;
    width: 25%;
}

.hero-img{
    flex: 1 0 30%;
}
.hero-img img{
    width: 100%;
}

@media screen and (max-width:900px) {
    .hero-lamp{
        display: none;
    }
}



/* end hero */



/* start products */

.featured-product{
    padding: 50px 0;
}
.featured-product h2{
    margin-bottom: 30px;
    color: #1A0B5B;
}

.featured-product .row{
    justify-content: flex-start;
    gap: 15px;
     align-items: stretch;
    
}
.badge-sale{
    position: absolute;
    left: 4px;
    top: 20px;
}

.product .icon-1{
    display: none;
    position: absolute;
    left: 30px;
    top: 15px;

}
.product .icon-2{
        display: none;
    position: absolute;
    left:65px;
    top: 24px;

}
.product .icon-3{
        display: none;
    position: absolute;
    left: 95px;
    top: 24px;
}

.product:hover .icon-1{
    display: block;
}
.product:hover .icon-2{
    display: block;
}
.product:hover .icon-3{
    display: block;
}


.featured-product .product{
    box-shadow: 0px 4px 4px #00000040;
    flex: 1 0 300px;
    border-radius: 4px;
    position: relative;
}

 .color{
    width: 14px;
    height: 4px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
 }
.color-one{
    background-color: #05E6B7;
}
.color-two{
    background-color: var(--primary);
}
.color-three{
    background-color: #00009D;
    transition:all 0.6s ;

}

.featured-product .product .img{
    background-color: #F6F7FB;
    padding: 30px;
    
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
        transition:all 0.6s ;

}
.product .product-details h3{
    transition: all 0.6s;
}
.product .img img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

 .product .product-info span{
    transition:all 0.6s;
}


.product:hover .product-details{
    background-color: #2F1AC4;
    border-radius: 2px;
}
.product:hover .product-details h3{
    color: white;
}


.product:hover .product-details .color-three{
    background-color: #FFEAC1;
}

.product:hover .product-info span {
    color: white;
}

/* end products */



/* start newslater */
.newslater{
    background-image: url('./img/public/Rectangle\ 102.png');
    padding: 175px 0;
    text-align: center;
}

.newslater h2{
    margin-bottom: 50px;
    color: #151875;
    font-size: 35px;
}
.shop-btn:hover{
    background-color: #0D0E43;
    transition-duration: 0.5s;
}


/* end newslater */


/* start clients */


.clients{
    padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px ;
    overflow-x:auto ;
}

.clients .logo {
    width: calc( (100% - 75px) /6);
}
.clients img{
    width: 150px;
    height: 125px;
}

@media screen and (max-width:900px) {
    .clients .logo{
        width: calc( (100% - 30px) / 3);
    }
}

/* end clients */

/* start footer */

.footer{
    background-color: #EEEFFB;
}
.footer .row{
    gap: 30px;
}
 .footer .left-side{
   align-items: flex-start; 
   gap: 35px;
   width: calc((100% - 30px) /2);
}
.footer form{
    display: flex;
}



.email-address form{
    border: 3px solid #E7E6EF;
        border-radius: 5px;
    
 
}
 
.email-address input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 10px 15px;
}
.email-address button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 10px;
}

.footer .right-side{
    width: calc((100% - 30px) /2);

}

.footer-item{
    gap: 45px;
    width: calc((100% - 70px) /3);
}

.footer .right-side .row{
    gap: 35px;
    align-items: flex-start;
}

.footer a,.address-info a{
    color: #8A8FB9;
}

@media screen and (max-width:992px) {
    .footer .right-side , .footer .left-side {
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .footer{
        text-align: center;
    }
    .footer-item {
        width: 100%;
    }
}

/* end footer */
